nav {
    text-align: right;
    background-color: gray;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    width: 80px;
}

.main-menu li a {
    text-decoration: none;
    color: white;
}



#logo {
    display: none;
    position: fixed;          /* 固定位置 */
    top: 0;                   /* 画面の上端に配置 */
    left: 0;                  /* 画面の左端に配置 */
    width: 100vw;             /* 画面全体の幅 */
    height: 100vh;            /* 画面全体の高さ */
    object-fit: cover;        /* アスペクト比を維持しつつ拡大 */
    z-index: 9999;            /* 他の要素の上に表示 */
} 

h1 {
    background-color: black;
    color: white;
}
